{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}

{% block body %}

	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<!-- ======= Hero Section form ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">

			<div class="section-title">
				<h1>Réinitialisez votre mot de passe</h1>
			</div>

			<div class="col-lg-4 text-white text-left font-weight-bold">

				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
						Entrez votre adresse e-mail et nous vous enverrons un
												lien pour réinitialiser votre mot de passe.
					</small>
				</div>

				<div class="blockcenter">
					<button class="btn btn-primary">Réinitialiser mon mot de passe</button>
					{{ form_end(requestForm) }}
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
	<main id="main"></main>
{% endblock %}
