{% extends 'base.html.twig' %}

{% block body %}
	<!-- ======= Hero Section form ======= -->
	<section id="hero">
		<div class="hero-container" data-aos="fade-up">
			<div class="section-title">
				<h1>Accès Interdit</h1>
			</div>
			<img src="\img\smiley.webp" alt="oops" width="200px">
			<h2>
				<a href="{{ path('home') }}">
					<button class="btn btn-primary">Retour Acceuil</button>
				</a>
			</h2>
		</div>
	</section>
	<!-- End Hero -->
	<main id="main"></main>
{% endblock %}
